html {
    color: white;
}

body {
    background: url('../media/starry_sky.gif') no-repeat black;
    background-attachment: fixed;
    background-position: center 20%;
    color: white;
    height: 100%;
}
