html {
    height: 100%;
    overflow: hidden;
}
body {
    background-image: url("/media/frontpage/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    height: 100%;
    transition: all 2000ms;
}

